.color{
    width:35px;
    height:35px;
    border-radius:50%;
    border:none;
    cursor:pointer;
    margin:5px;
}

.color:nth-child(1){
    background:#e7b1e5;
}

.color:nth-child(2){
    background:#f7c2ca;
}

.color:nth-child(3){
    background:#fcd695;
}

.color:nth-child(4){
    background:#cdd678;
}

.color:nth-child(5){
    background:#99e4c1;
}

.color:nth-child(6){
    background:#80cfe0;
}

